<connectionStrings>
	<add name="SATEntities" connectionString="metadata=res://*/SAT.csdl|res://*/SAT.ssdl|res://*/SAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5050.site4now.net;Initial Catalog=db_a81d7f_d2201sat;User Id=db_a81d7f_d2201sat_admin;Password=Sm@rterPass2&quot;" providerName="System.Data.EntityClient" />
	<!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SAT;Integrated Security=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>